{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row" style="margin-bottom: 20px;">
        <img class="col-md-12 col-xs-12" src="{% static 'images/photo_demo.jpg' %}">
    </div>
    <div class="col-md-4 col-xs-12 photo">
        <img class="col-md-12 " src="{% static 'images/demo_img_big.jpg' %}">
        <span class="col-md-12">标题1</span>
    </div>
    <div class="col-md-4 col-xs-12 photo">
        <img class="col-md-12 " src="{% static 'images/demo_img_big.jpg' %}">
        <span class="col-md-12">标题1</span>
    </div>
    <div class="col-md-4 col-xs-12 photo">
        <img class="col-md-12 " src="{% static 'images/demo_img_big.jpg' %}">
        <span class="col-md-12">标题1</span>
    </div>
    <div class="col-md-4 col-xs-12 photo">
        <img class="col-md-12 " src="{% static 'images/demo_img_big.jpg' %}">
        <span class="col-md-12">标题1</span>
    </div>
    <div class="col-md-4 col-xs-12 photo">
        <img class="col-md-12 " src="{% static 'images/demo_img_big.jpg' %}">
        <span class="col-md-12">标题1</span>
    </div>
    <div class="col-md-4 col-xs-12 photo">
        <img class="col-md-12 " src="{% static 'images/demo_img_big.jpg' %}">
        <span class="col-md-12">标题1</span>
    </div>
    <div class="col-md-4 col-xs-12 photo">
        <img class="col-md-12 " src="{% static 'images/demo_img_big.jpg' %}">
        <span class="col-md-12">标题1</span>
    </div>
    <div class="col-md-4 col-xs-12 photo">
        <img class="col-md-12 " src="{% static 'images/demo_img_big.jpg' %}">
        <span class="col-md-12">标题1</span>
    </div>
    <div class="col-md-4 col-xs-12 photo">
        <img class="col-md-12 " src="{% static 'images/demo_img_big.jpg' %}">
        <span class="col-md-12">标题1</span>
    </div>
{% endblock %}
{% block sidebar %}
{% endblock %}

{% block external %}
    <link rel="stylesheet" href="{% static 'custom/css/photo.css' %}">
{% endblock %}
