
.base{
    background: #e5e5e5 none no-repeat fixed center top;
    background-size: cover;
}

.gray_background{
    background: #e5e5e5 none no-repeat fixed center top;
    background-size: cover;
    padding: 10px;
    margin-bottom: 20px;
}

.blog_title{
    font-size: 20px;
    font-weight: bold;
    font-family: 微软雅黑;
    /*font-style: italic;*/
}

.blog_content_title{
    font-size: 30px;
    font-weight: bold;
    font-family: 微软雅黑;
    margin: 0px;
}

.blog_content{
    padding: 0px;
}

.blog_content img{
    max-width:100%
}

.title{
    font-size: 30px;
    font-weight: bold;
    font-family: 微软雅黑;
    font-style: italic;
}

.blog_container{
    margin-top: 20px;
    background-color: white;
    padding: 20px 40px;
}

.blog_time{
    color: #686868;
    font-size: 12px;
    line-height: 12px;
}

.blog_carousel{
    margin-bottom: 40px;
}

.blog_brief{
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

footer {
    background: #474747 none repeat center top;
    border-top: 1px solid #474747;
    margin-bottom: 20px;
}

.blog_footer{
    word-spacing: normal;
    color: white;
    font-family: "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.blog_search{
    background-color: white;
}

.blog_self_img{
    margin-top: 10px;
    margin-bottom: 30px;
}

p{
    white-space:pre-wrap;
}

.new_blog_td {
    margin: 0px;
    padding: 0px;

}

.new_blog_td img {
    width: 100%;
}

a{
    color: black;
}